
.header {
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    font-size: 30px;
    text-align: center;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1424px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
}

.content {
    margin-left: 16rem;
    padding: 2rem 4rem;
    background-color: #f3f3f3;
}

.dark-box {
    background-color: #292929;
}

.row-element {
    display: flex;
    align-items: center;
}

.box {
    background-color:#fff;
    margin: 2em;
    padding: 1em;
    margin-bottom: 3em;
}

.lr-margin {
    margin-left: 3em;
    margin-right: 3em;
}

.my-btn {
    background-color: #f0f0f0; /* Green */
    border: none;
    color: #4a4a4a;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    min-width: 40px;
}
