
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #aaaaaa;
    font-size: 30px;
    text-align: center;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1424px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}
